.invoice-table {
    margin: 20px;
    width: 100%;
    padding: 20px;
    /* background-color: #F7F7FA;
    box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #fff; */
}

.invoice-row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: space-around;
    padding: 0px 10px;
    border-radius: 40px;
    background-color: #F7F7FA;
    /* box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #fff;
    border-left: 3px solid #7bae37; */
    height: 45px;
}

.invoice-body {
    color: grey;
    font-size: 16px;
}


.invoice-column {
    width: 16.666667%;
    text-align: left;
}

.currency {
    padding-right: 20px;
    text-align: right;
}

#late_fee {
    outline: none;
    border: none;
    background-color: #F7F7FA;
    font-size: 16px;
    text-align: center;
    width: 40px;
}

#late_fee:focus {
    border-bottom: 1px solid grey;
}