.bill {
    text-align: center;
    height: 8.3in;
    width: 5.8in;
    /* background-color: red; */
}

.invoice-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
}
p{
    /* background-color: green; */
    /* border: 1px solid red; */
    text-align: left;
    padding-left: 5px;
    margin:0;
}
.label {
    line-height: 12px;
    font-weight: bold;
    color: grey;
    margin-bottom: 5px;
}
.data{
    font-size: 16px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid grey;
    margin-right: 10px; */
}

table{
    margin-top: 20px;
}

.fee-desc{
    text-align: left;
    padding-left: 5px;
}

.account-data{
    text-align: right;
    padding-right: 5px;
    letter-spacing: 1px;
}